@model Cosultations.Models.LoginVm

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">


    <div class="row" style="margin-top:100px">
        <div class="col-md-6">
            <h2 style="    margin-bottom: 40px;
                           margin-top: -20px;
                           font-weight: 600;
                           color: black;">
                Login
            </h2>
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

              

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" style="   float: right;
                                                                                margin-top: 20px;" />
                </div>
            </form>
        </div>
    </div>
</div>

