@model IEnumerable<Services.Entities.Servicii>

@{
    ViewData["Title"] = "SeeServicesBySpecializareId";
}
<table class="table">
    <thead>
        <tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pret)
            </td>
            <td>
            
            </td>
        </tr>
}
    </tbody>
</table>
